google-cloud-bigquery
google-cloud-bigquery-storage
pyarrow
pandas~=1.1.4
matplotlib~=3.3.4
beautifulsoup4~=4.9.3
lxml
requests~=2.25.1
tqdm~=4.56.0
web3~=5.13.1
seaborn~=0.11.1
numpy~=1.19.4
python-dotenv~=0.17.1
cachetools~=4.2.1
ipython~=7.19.0